In [17]:
import pandas as pd
data = pd.read_csv("data/2018data.csv")
data.shape

(107868, 150)

In [18]:
data = data[[
    'id',
    'loan_amnt',
    'funded_amnt',
    'term',
    'int_rate',
    'installment',
    'grade',
    'sub_grade',
    'emp_length',
    'home_ownership',
    'annual_inc',
    'verification_status',
    'issue_d',
    'loan_status',
    'purpose',
    'dti',
    'delinq_2yrs',
    'inq_last_6mths',
    'mths_since_last_delinq',
    'mths_since_last_record',
    'open_acc',
    'revol_bal',
    'revol_util',
    'total_acc',
    'initial_list_status',
    'out_prncp',
    'out_prncp_inv',
    'total_pymnt',
    'total_pymnt_inv',
    'total_rec_prncp',
    'total_rec_int',
    'last_pymnt_d',
    'last_pymnt_amnt',
    'next_pymnt_d',
    'application_type',
    'annual_inc_joint',
    'dti_joint',
    'verification_status_joint',
    'acc_now_delinq',
    'tot_coll_amt',
    'tot_cur_bal',
    'pub_rec',
    'open_acc_6m',
    'open_act_il',
    'total_bal_il',
    'avg_cur_bal',
    'chargeoff_within_12_mths',
    'delinq_amnt',
    'mort_acc',
    'mths_since_recent_bc_dlq',
    'num_il_tl',
    'num_sats',
    'pct_tl_nvr_dlq',
    'total_bal_ex_mort',
    'total_bc_limit',
    'total_il_high_credit_limit',
    'fico_range_high',
    'fico_range_low'
]]

data1 = data.loc[:, (data.isin([' ','NULL',0]) | data.isnull()).mean() <= .8]
data1.shape

(107868, 47)

In [19]:
# verification_status
replace = []
for value in data1.verification_status:
    if (value == "Verified" or value == "Source Verified"):
        replace.append("Verified")
    else: replace.append("Not Verified")
data1.drop(columns="verification_status")
data1["verification_status"] = replace

# emp_length
data1['emp_length'].replace({r"[^0-9]" : ''}, inplace= True, regex = True)

# int_rate
data1['int_rate'].replace({r"%" : ''}, inplace= True, regex = True)

# revol_util
data1['revol_util'].replace({r"%" : ''}, inplace= True, regex = True)
data1.shape

C:\Users\Y.Shoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(107868, 47)

In [20]:
data1.head(1)

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,avg_cur_bal,mort_acc,num_il_tl,num_sats,pct_tl_nvr_dlq,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,fico_range_high,fico_range_low
0,130927945,27225.0,27225.0,36 months,9.92,877.46,B,B2,4,OWN,...,7762.0,0.0,9.0,14.0,90.0,93148.0,85200.0,112084.0,709.0,705.0

In [21]:
data1.verification_status.nunique()

2

In [22]:
data1.to_csv("removed_col.csv", index=False)

In [15]:
data1.verification_status

0             Verified
1             Verified
2             Verified
4             Verified
5         Not Verified
              ...
107857    Not Verified
107858    Not Verified
107860    Not Verified
107861        Verified
107862        Verified
Name: verification_status, Length: 63913, dtype: object

In [8]:
data1 = data[['id','loan_amnt','funded_amnt','term','int_rate','installment',
              'grade','emp_length','home_ownership','annual_inc','verification_status', 
              'loan_status', 'purpose', 'dti', 'delinq_2yrs','last_pymnt_d','next_pymnt_d']]

In [9]:
data1.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,last_pymnt_d,next_pymnt_d
0,130927945,27225.0,27225.0,36 months,9.92%,877.46,B,4 years,OWN,325000.0,Verified,In Grace Period,car,14.25,0.0,Aug-19,Oct-19
1,130936141,5500.0,5500.0,36 months,7.34%,170.69,A,2 years,RENT,35192.0,Verified,Current,home_improvement,24.91,0.0,Oct-19,Nov-19
2,130964889,2000.0,2000.0,36 months,10.90%,65.39,B,10+ years,RENT,37000.0,Source Verified,Current,debt_consolidation,35.61,1.0,Sep-19,Oct-19
3,130967910,12500.0,12500.0,36 months,7.34%,387.91,A,3 years,MORTGAGE,110000.0,Not Verified,Fully Paid,credit_card,14.10,0.0,Apr-19,NaN
4,130969537,25000.0,25000.0,60 months,14.07%,582.62,C,10+ years,MORTGAGE,57000.0,Source Verified,Current,credit_card,15.49,0.0,Oct-19,Oct-19

In [10]:
# verification_status
replace = []
for value in data1.verification_status:
    if (value == "Verified" or value == "Source Verified"):
        replace.append("Verified")
    else: replace.append("Not Verified")
data1.verification_status = replace

# emp_length
data1['emp_length'].replace({r"[^0-9]" : ''}, inplace= True, regex = True)

# int_rate
data1['int_rate'].replace({r"%" : ''}, inplace= True, regex = True)

C:\Users\Y.Shoun\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [11]:
data1.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,last_pymnt_d,next_pymnt_d
0,130927945,27225.0,27225.0,36 months,9.92,877.46,B,4,OWN,325000.0,Verified,In Grace Period,car,14.25,0.0,Aug-19,Oct-19
1,130936141,5500.0,5500.0,36 months,7.34,170.69,A,2,RENT,35192.0,Verified,Current,home_improvement,24.91,0.0,Oct-19,Nov-19
2,130964889,2000.0,2000.0,36 months,10.90,65.39,B,10,RENT,37000.0,Verified,Current,debt_consolidation,35.61,1.0,Sep-19,Oct-19
3,130967910,12500.0,12500.0,36 months,7.34,387.91,A,3,MORTGAGE,110000.0,Not Verified,Fully Paid,credit_card,14.10,0.0,Apr-19,NaN
4,130969537,25000.0,25000.0,60 months,14.07,582.62,C,10,MORTGAGE,57000.0,Verified,Current,credit_card,15.49,0.0,Oct-19,Oct-19

In [12]:
data1.to_csv("data_cleaned.csv")

In [13]:
data1 = data1.dropna()